<h2 id='title'>Welcome to ember-cli-famous</h2>

<h4>Set Title of first surface</h4>
{{input value=text}}

{{#fa-app}}
  {{#fa-modifier options=modifierOptions}}
    {{#fa-surface options=surfaceOptions}}
      {{#fa-template bindContext=controller dependentKeys=controller.dependentKeys}}
        <h1>{{text}}</h1>

        <ul>
          {{#each color in colors}}
            <li>
              {{color}}
              <button {{action 'deleteColor' color}}>
                delete
              </button>
            </li>
          {{else}}
            <li>
              No colors anymore. <button {{action 'resetColors'}}>reset</button>
            </li>
          {{/each}}

          <h4>Add colors</h4>
          {{fa-input value=newColor}}
          <button {{action 'addColor'}}>Add color</button>
        </ul>
      {{/fa-template}}
    {{/fa-surface}}
    {{#fa-surface options=surface2Options}}
      Surface2
    {{/fa-surface}}
  {{/fa-modifier}}
{{/fa-app}}

<h3>Non surface example to compare functionality</h3>
<div>
  {{#each color in colors}}
    <li>
      {{color}}
      <button {{action 'deleteColor' color}}>
        delete
      </button>
    </li>
  {{else}}
    <li>
      No colors anymore. <button {{action 'resetColors'}}>reset</button>
    </li>
  {{/each}}

  <h4>Add colors</h4>
  {{input value=newColor}}
  <button {{action 'addColor'}}>Add color</button>
</div>

{{outlet}}
