<h2>Welcome to ember-cli-famous</h2>

<div class="half left">
  <h2>Surface Example</h2>
  {{input value=text}}

  {{#fa-app faContainer=faContainer}}
    {{#fa-modifier transitions=transition}}
      {{#fa-surface options=surfaceOptions id="randomid"}}
        {{#fa-template bindContext=controller dependentKeys=controller.dependentKeys}}
          <h1>{{text}}</h1>

          <ul>
            {{#each color in colors}}
            <li>
              {{color}}
              <button {{action 'deleteColor' color}}>
                delete
              </button>
            </li>
            {{else}}
            <li>
              No colors anymore. <button {{action 'resetColors'}}>reset</button>
            </li>
            {{/each}}

            <h4>Add colors</h4>
            {{fa-input value=newColor}}
            <button {{action 'addColor'}}>Add color</button>
          </ul>
        {{/fa-template}}
      {{/fa-surface}}
    {{/fa-modifier}}

    {{#fa-modifier options=modifierOptions transitions=chainedTransitions}}
      {{#fa-surface options=surface2Options surface=surface2}}
        Surface2
      {{/fa-surface}}
    {{/fa-modifier}}
  {{/fa-app}}
</div>

<div class="half left">
  <h2>Non-Surface Example to compare functionality</h2>
  <div>
    {{#each color in colors}}
    <li>
    {{color}}
    <button {{action 'deleteColor' color}}>
      delete
    </button>
    </li>
    {{else}}
    <li>
    No colors anymore. <button {{action 'resetColors'}}>reset</button>
    </li>
    {{/each}}

    <h4>Add colors</h4>
    {{input value=newColor}}
    <button {{action 'addColor'}}>Add color</button>
  </div>
</div>

<div class="clear"></div>

<div class="half">
  <h2> Famous Container </h2>
  <p>
  This is an internal representation of the famous objects that have been
  initialized. It can be used to have direct access to the famous objects
  initialized by the compontents.
  </p>
  <ul>
    {{#each key in controller.containerKeys}}
    <li>
    {{key}}
    </li>
    {{else}}
    <li>
    nothing in container
    </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
