<h2 id='title'>Welcome to ember-cli-famous</h2>

{{input value=text}}

{{#fa-app}}
  {{#fa-modifier options=modifierOptions}}
    {{#fa-surface options=surfaceOptions}}
      {{#fa-template bindContext=controller dependentKeys=controller.dependentKeys}}
        <h1>{{text}}</h1>

        <ul>
          {{#each color in colors}}
            <li>
              {{color}}
              <button {{action 'deleteColor' color}}>
                delete
              </button>
            </li>
          {{else}}
            <li>
              No colors anymore. <button {{action 'resetColors'}}>reset</button>
            </li>
          {{/each}}
        </ul>
      {{/fa-template}}
    {{/fa-surface}}
  {{/fa-modifier}}
{{/fa-app}}

{{outlet}}
